<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lp.mapper.plan.ManufactureMapper">
	<resultMap id="BaseResultMap"
		type="cn.lp.po.plan.Manufacture">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="plan_staff_id" jdbcType="INTEGER"
			property="planStaffId" />
		<result column="plan_detail_id" jdbcType="INTEGER"
			property="planDetailId" />
		<result column="plan_start_time" jdbcType="TIMESTAMP"
			property="planStartTime" />
		<result column="plan_end_time" jdbcType="TIMESTAMP"
			property="planEndTime" />
		<result column="part_technology_id" jdbcType="INTEGER"
			property="partTechnologyId" />
		<result column="num" jdbcType="INTEGER" property="num" />
		<result column="work_staff_id" jdbcType="INTEGER"
			property="workStaffId" />
		<result column="reality_time" jdbcType="TIMESTAMP"
			property="realityTime" />
		<result column="check_staff_id" jdbcType="INTEGER"
			property="checkStaffId" />
		<result column="qualified_num" jdbcType="INTEGER"
			property="qualifiedNum" />
		<result column="unqualified_num" jdbcType="INTEGER"
			property="unqualifiedNum" />
	</resultMap>
	<sql id="Base_Column_List">
		id, state, plan_staff_id, plan_detail_id, plan_start_time,
		plan_end_time,
		part_technology_id,
		num, work_staff_id, reality_time,
		check_staff_id, qualified_num,
		unqualified_num
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from manufacture
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectManu" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from manufacture

	</select>
	<select id="selectManufactureSelective"
		parameterType="cn.lp.po.plan.Manufacture">

		select
		<include refid="Base_Column_List" />
		from manufacture
		<trim prefix="where " prefixOverrides="and |or"
			suffixOverrides=",">
			<if test="id != null">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				and state = #{state,jdbcType=VARCHAR},
			</if>
			<if test="planStaffId != null">
				and plan_staff_id = #{planStaffId,jdbcType=INTEGER},
			</if>
			<if test="planDetailId != null">
				and plan_detail_id = #{planDetailId,jdbcType=INTEGER},
			</if>
			<if test="planStartTime != null">
				and plan_stat = #{planStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="planEndTime != null">
				and plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="partTechnologyId != null">
				and part_technology_id =
				#{partTechnologyId,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				and num = #{num,jdbcType=INTEGER},
			</if>
			<if test="workStaffId != null">
				and work_staff_id= #{workStaffId,jdbcType=INTEGER},
			</if>
			<if test="realityTime != null">
				and reality_time= #{realityTime,jdbcType=TIMESTAMP},
			</if>
			<if test="checkStaffId != null">
				and check_staff_id #{checkStaffId,jdbcType=INTEGER},
			</if>
			<if test="qualifiedNum != null">
				and check_staff_id = #{qualifiedNum,jdbcType=INTEGER},
			</if>
			<if test="unqualifiedNum != null">
				and unqualified_num = #{unqualifiedNum,jdbcType=INTEGER},
			</if>
		</trim>

	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from manufacture
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.lp.po.plan.Manufacture">
		insert into manufacture (id,
		state, plan_staff_id,
		plan_detail_id, plan_start_time, plan_end_time,
		part_technology_id, num, work_staff_id,
		reality_time, check_staff_id,
		qualified_num,
		unqualified_num)
		values (#{id,jdbcType=INTEGER},
		#{state,jdbcType=VARCHAR},
		#{planStaffId,jdbcType=INTEGER},
		#{planDetailId,jdbcType=INTEGER}, #{planStartTime,jdbcType=TIMESTAMP},
		#{planEndTime,jdbcType=TIMESTAMP},
		#{partTechnologyId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER},
		#{workStaffId,jdbcType=INTEGER},
		#{realityTime,jdbcType=TIMESTAMP},
		#{checkStaffId,jdbcType=INTEGER}, #{qualifiedNum,jdbcType=INTEGER},
		#{unqualifiedNum,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.lp.po.plan.Manufacture">
		insert into manufacture
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="planStaffId != null">
				plan_staff_id,
			</if>
			<if test="planDetailId != null">
				plan_detail_id,
			</if>
			<if test="planStartTime != null">
				plan_start_time,
			</if>
			<if test="planEndTime != null">
				plan_end_time,
			</if>
			<if test="partTechnologyId != null">
				part_technology_id,
			</if>
			<if test="num != null">
				num,
			</if>
			<if test="workStaffId != null">
				work_staff_id,
			</if>
			<if test="realityTime != null">
				reality_time,
			</if>
			<if test="checkStaffId != null">
				check_staff_id,
			</if>
			<if test="qualifiedNum != null">
				qualified_num,
			</if>
			<if test="unqualifiedNum != null">
				unqualified_num,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="planStaffId != null">
				#{planStaffId,jdbcType=INTEGER},
			</if>
			<if test="planDetailId != null">
				#{planDetailId,jdbcType=INTEGER},
			</if>
			<if test="planStartTime != null">
				#{planStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="planEndTime != null">
				#{planEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="partTechnologyId != null">
				#{partTechnologyId,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				#{num,jdbcType=INTEGER},
			</if>
			<if test="workStaffId != null">
				#{workStaffId,jdbcType=INTEGER},
			</if>
			<if test="realityTime != null">
				#{realityTime,jdbcType=TIMESTAMP},
			</if>
			<if test="checkStaffId != null">
				#{checkStaffId,jdbcType=INTEGER},
			</if>
			<if test="qualifiedNum != null">
				#{qualifiedNum,jdbcType=INTEGER},
			</if>
			<if test="unqualifiedNum != null">
				#{unqualifiedNum,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.lp.po.plan.Manufacture">
		update manufacture
		<set>
			<if test="state != null">
				state = #{state,jdbcType=VARCHAR},
			</if>
			<if test="planStaffId != null">
				plan_staff_id = #{planStaffId,jdbcType=INTEGER},
			</if>
			<if test="planDetailId != null">
				plan_detail_id = #{planDetailId,jdbcType=INTEGER},
			</if>
			<if test="planStartTime != null">
				plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="planEndTime != null">
				plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="partTechnologyId != null">
				part_technology_id =
				#{partTechnologyId,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=INTEGER},
			</if>
			<if test="workStaffId != null">
				work_staff_id = #{workStaffId,jdbcType=INTEGER},
			</if>
			<if test="realityTime != null">
				reality_time = #{realityTime,jdbcType=TIMESTAMP},
			</if>
			<if test="checkStaffId != null">
				check_staff_id = #{checkStaffId,jdbcType=INTEGER},
			</if>
			<if test="qualifiedNum != null">
				qualified_num = #{qualifiedNum,jdbcType=INTEGER},
			</if>
			<if test="unqualifiedNum != null">
				unqualified_num = #{unqualifiedNum,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.lp.po.plan.Manufacture">
		update manufacture
		set state = #{state,jdbcType=VARCHAR},
		plan_staff_id = #{planStaffId,jdbcType=INTEGER},
		plan_detail_id =
		#{planDetailId,jdbcType=INTEGER},
		plan_start_time =
		#{planStartTime,jdbcType=TIMESTAMP},
		plan_end_time =
		#{planEndTime,jdbcType=TIMESTAMP},
		part_technology_id =
		#{partTechnologyId,jdbcType=INTEGER},
		num = #{num,jdbcType=INTEGER},
		work_staff_id = #{workStaffId,jdbcType=INTEGER},
		reality_time =
		#{realityTime,jdbcType=TIMESTAMP},
		check_staff_id =
		#{checkStaffId,jdbcType=INTEGER},
		qualified_num =
		#{qualifiedNum,jdbcType=INTEGER},
		unqualified_num =
		#{unqualifiedNum,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>